BasedOnStyle: Google
ColumnLimit: 120
BreakBeforeBraces: Stroustrup
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
IndentCaseLabels: true
AllowAllParametersOfDeclarationOnNextLine: false